<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotação do Dólar</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Cotação do Dólar</h1>
    <form id="cotacao-form">
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required>
        <button type="submit">Consultar</button>
    </form>
    <div id="resultado">
        <!-- Os resultados da cotação serão inseridos aqui -->
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>
